%div#main.container

  %div#errors

  %div#signup_form{ :style => "display: none;" }
    = form_for(User.new) do |f|
      = f.text_field      :username, placeholder: "Username"
      = f.text_field      :email, placeholder: "email"
      = f.password_field  :password, placeholder: "Password"
      = f.password_field  :password_confirmation, placeholder: "Confirm"
      = f.submit
      %p Already have and account?
      %a#login_button{ href: "#"} Login

  %div#login_form{ :style => "display: show;" }
    = form_tag("/login") do
      = label_tag           :username
      = text_field_tag      :username
      = label_tag           :password
      = password_field_tag  :password
      = submit_tag          "Login", id: "submit-login"
      %p First visit?
      %a#signup_button{ href: "#"} Sign Up

  %div#friendships-list
  %div#where
  %div.spinner.hide
